### In-Game Purchase Data Analysis

#### Background 

In this homework, you are ask to deal with a task of analyzing an "in-game purchase" dataset. In this game, players are able to to purchase optional items that enhance their playing experience. Now your task is to generate a report that breaks down the game's purchasing data into meaningful insights.

-----

#### Observable Trends

* There are 1163 active players. The vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.79%) with secondary groups falling between 15-19 (18.58%) and 25-29 (13.37%). 

* The age group that spends the most money is the 20-24 with 1,114.06 dollars as total purchase value and an average purchase of 4.32. In contrast, the demographic group that has the highest average purchase is the 35-39 with 4.76 and a total purchase value of 147.67. 
-----

In [2]:
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "D:/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
#Problem 1
x1=purchase_data['SN']
x1=x1.drop_duplicates(keep='first',inplace=False)#刪除重複之'SN'
x1=x1.count()#計算玩家數量
df1=pd.DataFrame(data=[x1],columns=['Total Players'])#整合成新的'DataFrame'
df1#顯示答案

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Display the summary data frame

In [4]:
#Problem 2
x2=purchase_data[['Item Name','Price']]#挑出所需資料
x2_ItemName1=x2['Item Name'].count()#計算物品的數量
x2=x2.drop_duplicates(keep='first',inplace=False)#刪去重複的'Item Name'
x2_ItemName2=x2['Item Name'].count()#計算物品的數量(扣掉重複)
x2_Price=x2['Price'].mean()#計算平均價格
Total_Revenue=x2_Price*x2_ItemName1#計算總和
df2=pd.DataFrame(data=[[x2_ItemName2,x2_Price,x2_ItemName1,Total_Revenue]],columns=['Number of Unique Items','Average Price','Number of Purchases','Total Revenue'])#整合成新的'DataFrame'
df2#顯示答案

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.043388                  780    2373.842623

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Problem 3
x3=purchase_data[['SN','Gender']]#挑出所需資料
x3=x3.drop_duplicates(keep='first',inplace=False)#刪除重複
xx3=x3.groupby('Gender')[['SN']].count()#以各個'Gender'為index，計算各性別'SN'的數量
Female,Male,Other_Non_Disclosed=xx3['SN'][0],xx3['SN'][1],xx3['SN'][2]#人數資料指派給代號
total=Female+Male+Other_Non_Disclosed#計算總和
Percentage_of_Female=(Female/total)*100#計算所占百分比
Percentage_of_Male=(Male/total)*100#計算所占百分比
Percentage_of_Other_Non_Disclosed=(Other_Non_Disclosed/total)*100#計算所占百分比
df3=pd.DataFrame(data=[[Percentage_of_Male,Male],[Percentage_of_Female,Female],[Percentage_of_Other_Non_Disclosed,Other_Non_Disclosed]],columns=['Percentage of Players','Total Count'],index=['Male','Female','Other / Non-Disclosed'])#將資料整合成新的'DataFrame'
df3#顯示答案

                       Percentage of Players  Total Count
Male                               84.027778          484
Female                             14.062500           81
Other / Non-Disclosed               1.909722           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain below values by gender
  * Purchase Count
  * Average Purchase Price  
  * Total Purchase Value
  * Average Purchase Total per Person by Gender
* Create a summary data frame to hold the results
* Display the summary data frame

In [6]:
#Problem 4
x4=purchase_data[['SN','Gender','Price']]#挑出所需資料
Purchase_Count=x4.groupby('Gender')[['SN']].count()#以各個'Gender'為index，計算各性別'SN'的個數
Average_Purchase_Price=x4.groupby('Gender')[['Price']].mean()#以各個'Gender'為index，計算各性別'price'的平均
Total_Purchase_Value=x4.groupby('Gender')[['Price']].sum()#以各個'Gender'為index，計算各性別'price'的總和
Female0,Male0,Other_Non_Disclosed0=Purchase_Count['SN'][0],Purchase_Count['SN'][1],Purchase_Count['SN'][2]#資料指派給代號
Female1,Male1,Other_Non_Disclosed1=Average_Purchase_Price['Price'][0],Average_Purchase_Price['Price'][1],Average_Purchase_Price['Price'][2]#資料指派給代號
Female2,Male2,Other_Non_Disclosed2=Total_Purchase_Value['Price'][0],Total_Purchase_Value['Price'][1],Total_Purchase_Value['Price'][2]#資料指派給代號
Female,Male,Other_Non_Disclosed=xx3['SN'][0],xx3['SN'][1],xx3['SN'][2]#資料指派給代號
#Avg_Purchase_Total_per_Person
APTPP_F=Female2/Female#計算扣除重複'SN'後之平均
APTPP_M=Male2/Male#計算扣除重複'SN'後之平均
APTPP_O=Other_Non_Disclosed2/Other_Non_Disclosed#計算扣除重複'SN'後之平均
df4=pd.DataFrame(data=[[Female0,Female1,Female2,APTPP_F],[Male0,Male1,Male2,APTPP_M],[Other_Non_Disclosed0,Other_Non_Disclosed1,Other_Non_Disclosed2,APTPP_O]],columns=['Purchase Count','Average Purchase Price','Total Purchase Value','Avg Purchase Total per Person'],index=['Male','Female','Other / Non-Disclosed'])#將資料整合成新的'DataFrame'
df4#顯示答案

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Male,113,3.203009,361.94,4.468395
Female,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Categorize players using the age groups. Hint: use pd.cut()
  * each group is for 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* round the percentage column to two decimal points
* Display Age Demographics Table

In [7]:
#Problem 5
x5=purchase_data[['SN','Age']]#挑出所需資料
x5=x5.drop_duplicates(keep='first',inplace=False)#刪除重複
x5_1=x5['Age'][x5['Age']<10].count()#計算此年齡層之人數
x5_2=x5['Age'][x5['Age']>=10][x5['Age']<15].count()#計算此年齡層之人數
x5_3=x5['Age'][x5['Age']>=15][x5['Age']<20].count()#計算此年齡層之人數
x5_4=x5['Age'][x5['Age']>=20][x5['Age']<25].count()#計算此年齡層之人數
x5_5=x5['Age'][x5['Age']>=25][x5['Age']<30].count()#計算此年齡層之人數
x5_6=x5['Age'][x5['Age']>=30][x5['Age']<35].count()#計算此年齡層之人數
x5_7=x5['Age'][x5['Age']>=35][x5['Age']<40].count()#計算此年齡層之人數
x5_8=x5['Age'][x5['Age']>=40].count()#計算此年齡層之人數
total=x5['SN'].count()#計算總人數(扣除重複後)
p1,p2,p3,p4=(x5_1/total)*100,(x5_2/total)*100,(x5_3/total)*100,(x5_4/total)*100#計算各年齡層所占百分比
p5,p6,p7,p8=(x5_5/total)*100,(x5_6/total)*100,(x5_7/total)*100,(x5_8/total)*100#計算各年齡層所占百分比
df5=pd.DataFrame(data=[[p1,x5_1],[p2,x5_2],[p3,x5_3],[p4,x5_4],[p5,x5_5],[p6,x5_6],[p7,x5_7],[p8,x5_8]],columns=['Percentage of Players','Total Count'],index=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])#將資料整合成新的'DataFrame'
df5#顯示答案

       Percentage of Players  Total Count
<10                 2.951389           17
10-14               3.819444           22
15-19              18.576389          107
20-24              44.791667          258
25-29              13.368056           77
30-34               9.027778           52
35-39               5.381944           31
40+                 2.083333           12

## Purchasing Analysis (Age)

* The below each broken into groups of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group
* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Display the summary data frame

In [8]:
#Problem 6
x6=purchase_data[['SN','Age','Price']]#挑出所需資料
x6_1=x6['Age'][x6['Age']<10].count()#計算此年齡層之人數
x6_2=x6['Age'][x6['Age']>=10][x6['Age']<15].count()#計算此年齡層之人數
x6_3=x6['Age'][x6['Age']>=15][x6['Age']<20].count()#計算此年齡層之人數
x6_4=x6['Age'][x6['Age']>=20][x6['Age']<25].count()#計算此年齡層之人數
x6_5=x6['Age'][x6['Age']>=25][x6['Age']<30].count()#計算此年齡層之人數
x6_6=x6['Age'][x6['Age']>=30][x6['Age']<35].count()#計算此年齡層之人數
x6_7=x6['Age'][x6['Age']>=35][x6['Age']<40].count()#計算此年齡層之人數
x6_8=x6['Age'][x6['Age']>=40].count()#計算此年齡層之人數
total_6=x6['SN'].count()#計算總人數
#平均
y6_1=x6.groupby(x6['Age'][x6['Age']<10])['Price'].mean().mean()#計算此年齡層所花金額之平均
y6_2=x6.groupby(x6['Age'][x6['Age']>=10][x6['Age']<15])['Price'].mean().mean()#計算此年齡層所花金額之平均
y6_3=x6.groupby(x6['Age'][x6['Age']>=15][x6['Age']<20])['Price'].mean().mean()#計算此年齡層所花金額之平均
y6_4=x6.groupby(x6['Age'][x6['Age']>=20][x6['Age']<25])['Price'].mean().mean()#計算此年齡層所花金額之平均
y6_5=x6.groupby(x6['Age'][x6['Age']>=25][x6['Age']<30])['Price'].mean().mean()#計算此年齡層所花金額之平均
y6_6=x6.groupby(x6['Age'][x6['Age']>=30][x6['Age']<35])['Price'].mean().mean()#計算此年齡層所花金額之平均
y6_7=x6.groupby(x6['Age'][x6['Age']>=35][x6['Age']<40])['Price'].mean().mean()#計算此年齡層所花金額之平均
y6_8=x6.groupby(x6['Age'][x6['Age']>=40])['Price'].mean().mean()#計算此年齡層所花金額之平均
#總和
z6_1=x6.groupby(x6['Age'][x6['Age']<10])['Price'].sum().sum()#計算此年齡層所花金額之總和
z6_2=x6.groupby(x6['Age'][x6['Age']>=10][x6['Age']<15])['Price'].sum().sum()#計算此年齡層所花金額之總和
z6_3=x6.groupby(x6['Age'][x6['Age']>=15][x6['Age']<20])['Price'].sum().sum()#計算此年齡層所花金額之總和
z6_4=x6.groupby(x6['Age'][x6['Age']>=20][x6['Age']<25])['Price'].sum().sum()#計算此年齡層所花金額之總和
z6_5=x6.groupby(x6['Age'][x6['Age']>=25][x6['Age']<30])['Price'].sum().sum()#計算此年齡層所花金額之總和
z6_6=x6.groupby(x6['Age'][x6['Age']>=30][x6['Age']<35])['Price'].sum().sum()#計算此年齡層所花金額之總和
z6_7=x6.groupby(x6['Age'][x6['Age']>=35][x6['Age']<40])['Price'].sum().sum()#計算此年齡層所花金額之總和
z6_8=x6.groupby(x6['Age'][x6['Age']>=40])['Price'].sum().sum()#計算此年齡層所花金額之總和
#刪去重複人數之平均金額
w1,w2,w3,w4=z6_1/x5_1,z6_2/x5_2,z6_3/x5_3,z6_4/x5_4#計算刪去重複人數之平均金額
w5,w6,w7,w8=z6_5/x5_5,z6_6/x5_6,z6_7/x5_7,z6_8/x5_8#計算刪去重複人數之平均金額
df6=pd.DataFrame(data=[[x6_1,y6_1,z6_1,w1],[x6_2,y6_2,z6_2,w2],[x6_3,y6_3,z6_3,w3],[x6_4,y6_4,z6_4,w4],[x6_5,y6_5,z6_5,w5],[x6_6,y6_6,z6_6,w6],[x6_7,y6_7,z6_7,w7],[x6_8,y6_8,z6_8,w8]],columns=['Purchase Count','Average Purchase Price','Total Purchase Value','Average Purchase Total per Person'],index=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])#將資料整合成新的'DataFrame'
df6#顯示答案

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
<10,23,3.315231,77.13,4.537059
10-14,28,2.934357,82.78,3.762727
15-19,136,3.034613,412.89,3.858785
20-24,365,3.039321,1114.06,4.318062
25-29,101,2.615353,293.00,3.805195
30-34,73,2.873856,214.00,4.115385
35-39,41,3.514765,147.67,4.763548
40+,13,3.060833,38.24,3.186667

## Top Spenders

* Identify the the top 5 spenders in the game by total purchase value (top-5 players with highest total purchase value), then list (in a table):
  * SN(screen name)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Display a preview of the summary data frame

In [9]:
#Problem 7
x7=purchase_data[['SN','Price','Item Name']]#挑出所需資料
y7=x7.groupby('SN')[['Price']].sum()#以各個'SN'為index，計算各'SN'所花金額之總和
z7=x7.groupby('SN')[['Item Name']].count()#以各個'SN'為index，計算各'SN'所買產品之數量
w7=x7.groupby('SN')[['Price']].mean()#以各個'SN'為index，計算各'SN'所花金額之平均
y7=y7.sort_values(['Price'],ascending=False)#金額總和由大到小排序
z7=z7.sort_values(['Item Name'],ascending=False)#物品數量由大到小排序
w7=w7.sort_values(['Price'],ascending=False)#金額平均由大到小排序
df7=y7.head(5).join(z7)#取出金額總和前五高之玩家，並將購買物品之數量加入y7
Average_Purchas_Price=[df7['Price'][0]/df7['Item Name'][0],df7['Price'][1]/df7['Item Name'][1],df7['Price'][2]/df7['Item Name'][2],df7['Price'][3]/df7['Item Name'][3],df7['Price'][4]/df7['Item Name'][4]]#計算各產品平均花費金額
df7['Average_Purchas_Price']=Average_Purchas_Price#將資料'Average_Purchas_Price'加入df7
df7=df7.rename(columns={'Price':'Total Purchase Value','Item Name':'Purchase Count'})#變更columns之名稱
df7[['Purchase Count','Average_Purchas_Price','Total Purchase Value']]#輸出答案

             Purchase Count  Average_Purchas_Price  Total Purchase Value
SN
Lisosia93                 5               3.792000                 18.96
Idastidru52               4               3.862500                 15.45
Chamjask73                3               4.610000                 13.83
Iral74                    4               3.405000                 13.62
Iskadarya95               3               4.366667                 13.10

## Most Popular Items

* Top 5 most popular items by purchase count:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Display a preview of the summary data frame

In [10]:
#Problem 8
x8=purchase_data[['Price','Item Name','SN']]#挑出所需資料
x8=x8.drop_duplicates(keep='first',inplace=False)#刪除重複
y8=x8.groupby('Item Name')[['SN']].count()#以各個'Item Name'為index，計算每個產品的銷售數量
z8=x8.groupby('Item Name')[['Price']].sum()#以各個'Item Name'為index，計算每個產品的銷售金額總和
y8=y8.sort_values(['SN'],ascending=False)#每個產品的銷售數量由大到小排序
z8=z8.sort_values(['Price'],ascending=False)#每個產品的銷售金額由大到小排序
df8=y8.join(z8).head(5)#整合銷售金額與數量，並選出前五高
Price=[df8['Price'][0]/df8['SN'][0],df8['Price'][1]/df8['SN'][1],df8['Price'][2]/df8['SN'][2],df8['Price'][3]/df8['SN'][3],df8['Price'][4]/df8['SN'][4]]#計算產品之金額
df8['Item Price']=Price#將產品金額加入df8
df8=df8.rename(columns={'SN':'Purchase Count','Price':'Total Purchase Value'})#變更columns之名稱
df8[['Purchase Count','Item Price','Total Purchase Value']]#輸出答案

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,4.614615,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
Persuasion,9,3.221111,28.99
Nirvana,9,4.900000,44.10
"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Top 5 most profitable items by total purchase value:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Sort the above table by total purchase value in descending order
* Display a preview of the data frame

In [11]:
#Problem 9
x9=purchase_data[['Price','Item Name','SN']]#挑出所需資料
x9=x9.drop_duplicates(keep='first',inplace=False)#刪除重複
y9=x9.groupby('Item Name')[['SN']].count()#以各個'Item Name'為index，計算每個產品的銷售數量
z9=x9.groupby('Item Name')[['Price']].sum()#以各個'Item Name'為index，計算每個產品的銷售金額總和
y9=y9.sort_values(['SN'],ascending=False)#每個產品的銷售數量由大到小排序
z9=z9.sort_values(['Price'],ascending=False)#每個產品的銷售金額由大到小排序
df9=z8.join(y8).head(5)#列出總花費前五高之玩家
Price=[df9['Price'][0]/df9['SN'][0],df9['Price'][1]/df9['SN'][1],df9['Price'][2]/df9['SN'][2],df9['Price'][3]/df9['SN'][3],df9['Price'][4]/df9['SN'][4]]#計算產品金額
df9['Item Price']=Price#將產品金額加入df9
df9=df9.rename(columns={'SN':'Purchase Count','Price':'Total Purchase Value'})#變更columns之名稱
df9[['Purchase Count','Item Price','Total Purchase Value']]#輸出答案

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,4.614615,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
Nirvana,9,4.900000,44.10
Fiery Glass Crusader,9,4.580000,41.22
Singed Scalpel,8,4.350000,34.80